@media only screen and (min-width: 550px) {
  .forumPage {
    background: #000000;
    border-radius: 1.5vw 1.5vw 0px 0px;
    width: 96vw;
    height: 89vh;
    margin: 0 2vw;
    padding-top: 5.5vw;
  }
  .chat {
    background: #1e1e1e;
    box-shadow: 0.2vw 0.2vw 0.2vw #fff500;
    height: 75.75vh;
    width: 90vw;
    margin: 0 3vw;
    border-radius: 0 0 1.25vw 1.25vw;
    margin-bottom: 0.75vw;
  }
  .chatMe {
    background: wheat;
    box-shadow: 0.2vw 0.2vw 0.2vw #14ff00;
    height: 4.75vw;
    width: 90vw;
    margin: 0 3vw;
    border-radius: 1.25vw;
    display: flex;
    flex-direction: row;
  }
  #chatMe {
    background: rgb(255, 255, 255);
    border: 0;
    width: 79.9vw;
    border-radius: 1.25vw 0 0 1.25vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 1.65vw;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    caret-color: rgb(255, 0, 0);
    max-width: 79.9vw;
    min-width: 79.9vw;
    max-height: 3.25vw;
    min-height: 3.25vw;
  }
  #sendBtn {
    width: 8.4vw;
    background-color: #1877f2;
    color: #ffffff;
    border: 0;
    font-size: 2.5vw;
    border-radius: 0 1.25vw 1.25vw 0;
  }
  #sendBtn:hover {
    background-color: #ffffff;
    color: #1877f2;
  }
  #sendBtn:active {
    background-color: #1877f2;
    color: #ffffff;
  }
  .seperation {
    width: 0.2vw;
    height: 5.75vw;
    background-color: #000000;
  }
  .chats {
      margin: 0 2vw;
      margin-right: 0.75vw;
      height: 72.5vh;
      border-radius: 1vw;
      background-color: #1e1e1e;
      display: flex;
      flex-direction: column;
      align-content: center;
      overflow-y: scroll;
      padding-right: 1vw;
      margin-top: -0.65vh;
  }
  .chats::-webkit-scrollbar {
    width: 0.3vw;
  }
  
  .chats::-webkit-scrollbar-track {
    background-color: #fff70028;
  }
  
  .chats::-webkit-scrollbar-thumb {
    background-color: #15ff00;
    border-radius: 1vw;
  }
  .me{
    display: flex;
    flex-direction: column;
  }
  .notMe{
    display: flex;
    flex-direction: column;
  }
  .meSend{
    background-color: #14ff00;
    color: #000;
    width: max-content;
    max-width: 70.5vw;
    padding: 0.25vw 1.25vw;
    font-size: 1.75vw;
    border-radius: 1vw;
    margin-left: auto;
    margin-bottom: 0.5vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
  }
  .notMeSend{
    background-color: #fff500;
    color: #000;
    width:max-content;
    max-width: 70.5vw;
    padding: 0.25vw 1.25vw;
    font-size: 1.75vw;
    border-radius: 1vw;
    margin-right: auto;
    margin-bottom: 0.5vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
  }
  .meDateTime{
    margin-left: auto;
    font-family: "Aldrich", sans-serif;
    font-size: 1vw;
    color: white;
    margin-bottom: 0.25vw;
  }
  .notMeDateTime{
    margin-right: auto;
    font-size: 1vw;
    font-family: "Aldrich", sans-serif;
    color: white;
    margin-bottom: 0.25vw;
  }
  .notMeProfileImage {
    width: 2vw;
    margin-right: 0.5vw;
  }
  .notMeProfile{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 1.5vw;
    font-family: "Aldrich", sans-serif;
    color: rgb(255, 0, 0);
    margin-bottom: 0.25vw;
  }
}
@media only screen and (max-width: 550px) {
  .forumPage {
    background: #000000;
    border-radius: 1.5vw 1.5vw 0px 0px;
    width: 94vw;
    height: 89vh;
    margin: 0 3vw;
    padding-top: 5.5vw;
  }
  .chat {
    background: #1e1e1e;
    box-shadow: 0.2vw 0.2vw 0.2vw #fff500;
    height: 80vh;
    width: 85vw;
    margin: 0 4.5vw;
    border-radius: 0 0 1.25vw 1.25vw;
    margin-bottom: 1vh;
    padding-top: 3.5vh;
  }
  .chatMe {
    background: rgb(255, 255, 255);
    box-shadow: 0.2vw 0.2vw 0.2vw #14ff00;
    height: 7vw;
    width: 90vw;
    margin: 0 3vw;
    border-radius: 1.25vw;
    display: flex;
    flex-direction: row;
  }
  #chatMe {
    background: rgb(255, 255, 255);
    border: 0;
    width: 79.9vw;
    border-radius: 1.25vw 0 0 1.25vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 1.65vh;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    caret-color: rgb(255, 0, 0);
    max-width: 79.9vw;
    min-width: 79.9vw;
    max-height: 5.25vw;
    min-height: 5.25vw;
  }
  #sendBtn {
    width: 8.4vw;
    background-color: #1877f2;
    color: #ffffff;
    border: 0;
    font-size: 2.5vw;
    border-radius: 0 1.25vw 1.25vw 0;
  }
  #sendBtn:active {
    background-color: #ffffff;
    color: #1877f2;
  }
  .seperation {
    width: 0.5vw;
    height: 7.25vw;
    background-color: #000000;
  }
  .chats {
      margin: 0 2vw;
      margin-right: 0.75vw;
      height: 72.5vh;
      border-radius: 1vw;
      background-color: #1e1e1e;
      display: flex;
      flex-direction: column;
      align-content: center;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: #15ff00 #fff70028;
      padding-right: 1.5vw;
      padding-left: 1vw;
  }
  .me{
    display: flex;
    flex-direction: column;
  }
  .notMe{
    display: flex;
    flex-direction: column;
  }
  .meSend{
    background-color: #14ff00;
    color: #000;
    width: max-content;
    max-width: 70.5vw;
    padding: 0.25vw 1.25vw;
    font-size: 5vw;
    border-radius: 1vw;
    margin-left: auto;
    margin-bottom: 0.5vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
  }
  .notMeSend{
    background-color: #fff500;
    color: #000;
    width:max-content;
    max-width: 70.5vw;
    padding: 0.25vw 1.25vw;
    font-size: 5vw;
    border-radius: 1vw;
    margin-right: auto;
    margin-bottom: 0.5vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
  }
  .meDateTime{
    margin-left: auto;
    font-family: "Aldrich", sans-serif;
    font-size: 2vw;
    color: white;
    margin-bottom: 0.25vw;
  }
  .notMeDateTime{
    margin-right: auto;
    font-size: 2vw;
    font-family: "Aldrich", sans-serif;
    color: white;
    margin-bottom: 0.25vw;
  }
  .notMeProfileImage {
    width: 4vw;
    margin-right: 0.75vw;
  }
  .notMeProfile{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 3vw;
    font-family: "Aldrich", sans-serif;
    color: rgb(255, 0, 0);
    margin-bottom: 0.75vw;
  }
}